@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --bg-color-primary: #F6F6EE;
  --bg-color-secondary: #2d2e38;
  --nav-bg-color: #0E0C0C;
  --button-color-primary: #222222;
  --button-color-accent: #8C7150;
  --text-color-primary: #FFFFFF;
  --text-color-seconday: #8C7150;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

/* HEADER  */

.header-container {
  display: grid;
  grid-template-columns: 150px auto 150px;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  background-color: var(--button-color-primary);
  border-radius: 2px;
}

.header-container img {
  width: 250px;
  margin: 5px;
  filter: invert(1) brightness(1);
}

.header-nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
  font-size: 1.3rem;
}

.header-nav-links li a {
  color: var(--bg-color-primary);
}

.header-nav-links li:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}

.button-reservation {
  width: 100px;
  height: 40px;
  background-color: var(--button-color-accent);
  border: none;
  border-radius: 5px;
  color: var(--bg-color-primary);
  transition: 0.3s ease;
  cursor: pointer;
}

.button-reservation:hover {
  transform: scale(1.1);
}


/* MOBILE MENU */
/* Base styles for mobile menu */
.mobile-menu {
  display: none; /* Hidden by default */
  position: relative;
}

/* Hamburger icon styling */
.mobile-menu .icon {
  font-size: 24px;
  cursor: pointer;
  color: var(--text-color-primary);
  display: none; /* Initially hidden */
}

/* Styles for dropdown links */
.mobile-menu .myLinks {
  display: none; /* Hidden by default */
  flex-direction: column;
  position: absolute;
  top: 70px; /* Positioning below the icon */
  right: 0;
  background-color: var(--button-color-primary);
  width: 200px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10; /* Ensure it appears above other content */
}

/* Links inside the dropdown */
.mobile-menu .myLinks a {
  padding: 10px 15px;
  text-decoration: none;
  color: var(--text-color-primary);
  display: block;
  border-bottom: 1px solid var(--button-color-accent);
  transition: background-color 0.3s ease;
}

.mobile-menu .myLinks a:hover {
  background-color: var(--button-color-accent);
  color: var(--bg-color-primary);
}

/* END OF MOBILE MENU */

/* HEADER END */

/* HERO  */
.hero-container {
  display: grid;
  grid-template-columns: 65% 35%;
  background-image: url(../src/images/studio.png);
  background-size: cover;
  height: 800px;
  width: 100%;
  cursor: default;
}

.hero-intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-intro-container .header-h1{
  margin-bottom: 60px;
  font-size: 3.5rem;
}

.hero-intro-container .hero-introduction{
  width: 580px;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 1px 1px var(--text-color-primary);
  margin-right: 375px;
  word-spacing: 10px;
}
#hero-img {
  margin-top: 55px;
  width: 550px;
  border-radius: 100px;
  border: 1px solid var(--text-color-seconday);
  box-shadow: 1px 1px 10px var(--nav-bg-color);
}

/* HERO END */

/* SECTION  */

.section-container {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color-secondary);
}

.section-container h1 {
  font-size: 2.5rem;
  color: var(--text-color-primary);
  text-shadow: 1px 1px var(--text-color-secondary);
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.card {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 100px;
}

.card-container .card img {
  width: 525px;
  border: 1px solid var(--button-color-accent);
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

.lightbox {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.lightbox.active {
  display: flex; /* Show when active */
}

.lightbox-image {
  max-width: 90%;
  max-height: 90%;
  transition: transform 0.3s ease;
}

/* SECTION END */

/* MASSAGE  */

.massage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.massage-container h1 {
  font-size: 3rem;
  margin-top: 50px;
  margin-bottom: 50px;
}

.massage-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 70%;
  align-items: center;
  text-align: justify;
  margin: 0 auto;
  gap: 100px;
  cursor: default;
}

.massage-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.massage-card p {
  font-size: 1.5rem;
  margin-top: 30px;
}

.massage-card img {
  max-width: 200px;
  height: auto;
}

/* CONTACTS  */

.contacts-container {
  background-color: var(--bg-color-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 25px auto;
  color: var(--bg-color-primary);
  cursor: default;
}

.contacts-container h1 {
  margin-top: 25px;
  font-size: 3rem;
}

.contacts-container .info-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 1.3rem;
  margin: 50px auto;
}

.contacts-container .info-container a {
  text-decoration: none;
  color: var(--bg-color-primary);
}

.contacts-container .info-container .telefon-address {
  display: flex;
  justify-content: space-evenly;
}
.contacts-container .info-container .telefon-address a {
  text-decoration: none;
  color: var(--bg-color-primary);
}

.contacts-map {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
  margin-bottom: 50px;
}

.contacts-map form {
  display: flex;
  flex-direction: column;
  border: 1px solid #eee;
  box-shadow: 3px 1px 15px var(--nav-bg-color);
  border-radius: 5px;
  width: 500px;
  height: 460px;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
}

.contacts-map form input {
  width: 350px;
  height: 30px;
  margin: 10px;
}

.contacts-map form textarea {
  width: 350px;
  height: 100px;
}

/* CONTACTS END */

/* FOOTER */

.socials-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  text-align: center;
  width: 100%;
  height: 100px;
  background-color: var(--bg-color-secondary);
}

.social-media {
  display: flex;
  gap: 15px; 
}

.social-media a {
  display: flex;
  align-items: center;
  gap: 8px; 
  text-decoration: none; 
  color: var(--text-color-primary); 
  font-size: 1rem; 
}

.contact-container {
  text-align: center;
  margin-top: 10px;
}

.contact-container ul {
  list-style: none;
  padding: 0;
}

.contact-container li {
  margin-bottom: 5px; 
  color: var(--text-color-primary);
}

.footer-container {
  text-align: center;
  margin-top: 20px;
}

.footer-container p {
  font-size: 0.875rem; 
  color: var(--text-color-primary); 
}

/* FOOTER END */

/* ////////////////MOBILE RESPONSIVE//////////////////// */
@media (max-width: 1600px) {
  .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: auto;
  }

  .hero-intro-container {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    text-align: center;
  }

  .hero-intro-container .hero-introduction {
    margin-right: 0;
    width: 768px;
  }
  #hero-img {
    margin-bottom: 25px;
    transform: scale(0.85);
  }

  .section-container {
    height: auto;
  }

  .section-container h1 {
    margin-top: 30px;
  }
  .card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0px;
    margin-bottom: 25px;
  }

  .card {
    margin: 25px;
  }

  .massage-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

}

@media (max-width: 1300px) {
  .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: auto;
  }

  .hero-intro-container {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
  }

  .hero-intro-container .hero-introduction {
    margin-right: 0;
    width: 768px;
  }
  #hero-img {
    margin-bottom: 25px;
    transform: scale(0.85);
  }


  .section-container {
    height: auto;
  }

  .section-container h1 {
    margin-top: 30px;
  }
  .card-container {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-bottom: 25px;
  }

  .card {
    margin-top: 25px;
  }

  .massage-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

}

@media (max-width: 870px) {
  .header-container {
    min-height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  #logo {
    display: none;
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: auto;
  }


  .hero-intro-container {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
  }

  .hero-intro-container .header-h1 {
    font-size: 2rem;
    text-align: center;
  }

  .hero-intro-container .hero-introduction {
    margin-right: 0;
    width: 768px;
    font-size: 1.3rem;
    width: 95%;
    text-align: center;
  }
  #hero-img {
    margin-bottom: 25px;
    transform: scale(0.85);
  }


  .section-container {
    height: auto;
  }

  .section-container h1 {
    margin-top: 30px;
  }
  .card-container {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-bottom: 25px;
  }

  .card {
    margin-top: 25px;
  }

  .massage-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .socials-container {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .social-media {
    margin-top: 15px;
  }
  .footer-container {
    margin-top: 10px;
  }

  .contacts-map {
    flex-direction: column;
  }

}


@media (max-width: 480px) {
   /* hamburger menu */
  .header-container {
    display: flex;
  }

   #logo {
    display: flex;
    width: 250px;
   }

   .header-nav-links {
    display: none;
   }

   .button-reservation {
    display: none;
   }
   .mobile-menu{
    display: block;
    align-items: center;
   }
   .mobile-menu .icon {
    color: var(--text-color-primary);
    font-size: 2.4rem;
    display: block;
   }

   /* end of hamburger menu */

   .header-container img {
    transform:scale(0.9);
   }

  .header-container {
    min-height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: auto;
  }

  .hero-intro-container {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
  }

  .hero-intro-container .header-h1 {
    font-size: 2rem;
    text-align: center;
  }

  .hero-intro-container .hero-introduction {
    margin-right: 0;
    width: 768px;
    font-size: 1.3rem;
    width: 95%;
    text-align: center;
  }
  #hero-img {
    margin-bottom: 25px;
    margin-top: -50px;
    transform: scale(0.5);
  }

  .section-container {
    height: auto;
  }

  .section-container h1 {
    margin-top: 30px;
    text-align: center;
  }
  .card-container {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-bottom: 25px;
  }

  .card-container .card img{
    width: 300px;
  }

  .card {
    margin-top: 25px;
  }

  .massage-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }


  .socials-container {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .social-media {
    margin-top: 15px;
  }
  .footer-container {
    margin-top: 10px;
  }

  .contacts-container .info-container .telefon-address{
    flex-direction: column;
    gap: 5px;
  }

  .contacts-map form {
    width: 370px;
  }

  .contacts-map form input {
    width: 300px;
  }

  .contacts-map form textarea {
    width: 300px;
  }

  .contacts-map form .button-reservation {
    margin-top: 35px;
    display: block;
  }

  .map-frame {
    width: 370px;
  }

}




